.container {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
    height: 60%;
    margin-left: 25vw;
    margin-top: 10vh;
    border-radius: 50px;
}
mat-form-field {
    width: 90%;
    font-size: 50px ; 
}